<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <link rel="icon" href="/favicon.ico" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 从env环境中获取变量 -->
    <title><%- VITE_APP_TITLE %></title>
    <link rel="stylesheet" href="./src/assets/style/load-resource.css" />
  </head>

  <body>
    <div id="app">
      <div id="custom-loader-wrapper">
        <div class="custom-loader">
          <span class="dot dot1"></span>
          <span class="dot dot2"></span>
          <span class="dot dot3"></span>
          <span class="dot dot4"></span>
        </div>
        <div class="custom-title"><%- VITE_APP_TITLE %></div>
      </div>
    </div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
